@use "../consts";

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6rem;

    &.scrolled {
        box-shadow: 0 0.5rem 1rem opacify(consts.$accent, 0.8);
        height: 5rem;
        background-color: consts.$dark-background;

        @media (prefers-color-scheme: light) {
            background-color: consts.$light-background;
        }

        .header-wrapper nav {
            padding: 0 4.5rem;
        }
    }

    transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;

    div.header-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        nav {
            max-width: 1024px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding: 0 4rem;
            width: 100%;
            transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;

            @media (max-width: 1024px) {
                padding: 1em 1rem;
            }

            div.mobile-spacer {
                display: none;
                @media (max-width: 1024px) {
                    display: block;
                }
            }

            a.logo {
                display: flex;

                img {
                    max-height: 2em;
                    border-radius: 100%;
                    align-self: center;
                    margin: 0 0.5em;

                    & + span {
                        align-self: center;
                        font-size: 2em;
                        font-weight: 800;
                    }
                }
            }

            & > ul {
                display: flex;
                list-style: none;
                align-items: center;

                li {
                    margin: 0 1em;

                    a {
                        font-size: 1.2em;
                        font-weight: 600;
                        transition: color 0.2s ease-in-out;

                        &:hover {
                            color: black;

                            @media (prefers-color-scheme: dark) {
                                color: consts.$dark-text;
                            }
                        }
                    }
                }

                @media (max-width: 1024px) {
                    display: none;
                }
            }

            button.hamburger {
                display: none;
                border: none;
                background: none;
                cursor: pointer;

                @media screen and (max-width: 1024px) {
                    display: block;
                }
            }
        }
    }
}
