@use "sass:color";

$accent: #7655e3;
$dark-background: #060b11;
$dark-text: #ffffff;
$primary: $accent;
$dark-secondary: #000000;

$light-background: #f7f7f7;
$light-text: #000000;
$light-secondary: #ffffff;
