$light-violet: #7655e3;
$dark-gray: #23272a;
$dark-transparent: #23272acc;
$transparent-violet: #7655e322;
$discord-blurple: #5865f2;
$paper-white: #dad8d7;
$light-gray: #2e3438;
$blurple: #828cf6;
* {
  box-sizing: border-box;

  @font-face {
    font-family: "Whitney";
    src: url("/assets/fonts/whitneymedium.woff") format("woff");
  }

  @font-face {
    font-family: "Futura";
    src: url("/assets/fonts/futura medium bt.ttf") format("truetype");
  }

  @font-face {
    font-family: "Bahnschrift";
    src: url("/assets/fonts/bahnschrift.ttf") format("truetype");
  }
}

body {
  font-family: "Futura", "Bahnschrift", "Whitney", sans-serif;
  overflow-x: hidden;
  margin: 0;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-gray;
    color: $paper-white;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header {
      nav {
        img {
          max-height: 5em;
          border-radius: 100%;
        }
      }
    }
  }

  h1 {
    strong {
      color: $light-violet;
    }
  }
}
