$light-accent: #7655e3;
$dark-gray: #23272a;
$dark-transparent: #23272acc;
$transparent-violet: #7655e322;
$paper-white: #f3f3f3;
$light-gray: #2e3438;

// SECTION Global rules
* {
  box-sizing: border-box;

  @font-face {
    font-family: "Whitney";
    src: url("/assets/fonts/whitneymedium.woff") format("woff");
  }

  @font-face {
    font-family: "Futura";
    src: url("/assets/fonts/futura medium bt.ttf") format("truetype");
  }

  @font-face {
    font-family: "Bahnschrift";
    src: url("/assets/fonts/bahnschrift.ttf") format("truetype");
  }
}
// !SECTION

body {
  // SECTION Element rules
  font-family: "Futura", "Bahnschrift", "Whitney", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: $paper-white;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-gray;
    color: $paper-white;
  }

  h1 {
    strong {
      color: $light-accent;
    }
  }

  a {
    text-decoration: none;
    color: $light-accent;

    &:hover {
      color: $light-accent;
    }
  }

  // !SECTION

  // SECTION Content rules
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header {
      nav {
        img {
          max-height: 5em;
          border-radius: 100%;
        }
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4em 1em;
      nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;

        li {
          margin: 0 1em;

          img {
            max-height: 5em;
            filter: grayscale(1);
            transition: filter 0.2s ease-in-out;

            &:hover {
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }
  // !SECTION
}
