@use "consts";
@use "sass:color";
// SECTION Global rules
* {
  box-sizing: border-box;

  @font-face {
    font-family: "Whitney";
    src: url("/assets/fonts/whitneymedium.woff") format("woff");
  }

  @font-face {
    font-family: "Futura";
    src: url("/assets/fonts/futura medium bt.ttf") format("truetype");
  }

  @font-face {
    font-family: "Bahnschrift";
    src: url("/assets/fonts/bahnschrift.ttf") format("truetype");
  }
}
// !SECTION

body {
  // SECTION Element rules
  font-family: "Futura", "Bahnschrift", "Whitney", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: consts.$paper-white;

  @media (prefers-color-scheme: dark) {
    background-color: consts.$dark-gray;
    color: consts.$paper-white;
  }

  h1 {
    strong {
      color: consts.$light-accent;
    }
  }

  a {
    text-decoration: none;
    color: consts.$light-accent;

    &:hover {
      color: consts.$light-accent;
    }
  }

  svg {
    line {
      stroke: consts.$dark-gray;
      stroke-linecap: round;

      @media (prefers-color-scheme: dark) {
        stroke: consts.$paper-white;
      }
    }
  }

  // !SECTION

  // SECTION Content rules
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 6rem;

      &.scrolled {
        background-color: color.mix(
          consts.$paper-white,
          consts.$light-gray,
          90%
        );
        box-shadow: 0 0.5rem 1rem consts.$transparent-violet;
        height: 5rem;

        .header-wrapper nav {
          padding: 0 4.5rem;
        }

        @media (prefers-color-scheme: dark) {
          background-color: color.mix(
            consts.$dark-gray,
            consts.$light-gray,
            90%
          );
        }
      }
      transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;

      div.header-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        nav {
          max-width: 1024px;
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          padding: 0 4rem;
          width: 100%;
          transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;

          @media (max-width: 1024px) {
            padding: 1em 1rem;
          }

          div.mobile-spacer {
            display: none;
            @media (max-width: 1024px) {
              display: block;
            }
          }

          a.logo {
            display: flex;
            img {
              max-height: 2em;
              border-radius: 100%;
              align-self: center;
              margin: 0 0.5em;

              & + span {
                align-self: center;
                font-size: 2em;
                font-weight: 800;
              }
            }
          }

          & > ul {
            display: flex;
            list-style: none;
            align-items: center;

            li {
              margin: 0 1em;
              a {
                font-size: 1.2em;
                font-weight: 600;
                transition: color 0.2s ease-in-out;

                &:hover {
                  color: black;

                  @media (prefers-color-scheme: dark) {
                    color: consts.$paper-white;
                  }
                }
              }
            }

            @media (max-width: 1024px) {
              display: none;
            }
          }

          button.hamburger {
            display: none;
            border: none;
            background: none;
            cursor: pointer;

            @media screen and (max-width: 1024px) {
              display: block;
            }
          }
        }
      }
    }

    .wrap-menu {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      justify-content: center;
      align-items: center;
      -webkit-transition: opacity 600ms, visibility 600ms;
      transition: opacity 600ms, visibility 600ms;

      button.close {
        position: absolute;
        top: 2rem;
        right: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        z-index: 2;
      }

      ul {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        li {
          margin: 1.5em 0;
          border-radius: 0.5em;
          font-size: 2em;
          font-weight: 600;
          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: rgba(consts.$light-accent, 0.2);
          }

          a {
            padding: 0.5em 1em;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      &.active {
        visibility: visible;
        opacity: 1;
      }
    }

    main {
      margin-top: 6rem;
      height: calc(100vh - 6rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1em;

      .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        h1 {
          font-size: 3em;
          font-weight: 800;
          margin: 0;
          line-height: 1.2em;
          margin-bottom: 0.5em;

          @media (max-width: 1024px) {
            font-size: 2em;
          }
        }
      }

      .section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 800px;
        margin: 0 auto;
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4em 1em;
      text-align: center;

      @media screen and (max-width: 1024px) {
        padding: 2em 1em;
      }

      nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        padding: 0;

        li {
          margin: 0 1em;

          @media screen and (max-width: 1024px) {
            margin: 0 0.5em;
          }

          img {
            max-height: 5em;
            filter: grayscale(1);
            transition: filter 0.2s ease-in-out;

            @media screen and (max-width: 1024px) {
              max-height: 3em;
              width: auto;
            }

            &:hover {
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }
  // !SECTION
}
